absl-py==2.1.0
aiocron==1.8
aiofiles==0.7.0
aiohappyeyeballs==2.4.4
aiohttp==3.7.4.post0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.7.0
APScheduler==3.11.0
Async-OAuthlib==0.0.9
async-timeout==3.0.1
asyncclick==8.1.7.2
asyncio==3.4.3
attrs==23.1.0
blinker==1.6.2
cachetools==5.5.0
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
croniter==6.0.0
discord.py==1.7.3
exceptiongroup==1.2.2
frozenlist==1.4.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.60.1
grpcio-status==1.60.1
httplib2==0.22.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
numpy==2.0.2
oauthlib==3.2.2
packaging==23.1
pandas==2.2.3
pip-review==1.3.0
pkcs7==0.1.2
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycryptodome==3.21.0
pydantic==2.10.4
pydantic_core==2.27.2
PyP100==0.1.2
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2024.2
requests==2.31.0
rsa==4.9
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.0.4
Werkzeug==2.3.7
yarl==1.9.2
zipp==3.16.2
